﻿@model IntroMvcProject.Models.Model
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<div>
@using (Html.BeginForm())
{
    <form action=''>
        <label>Text 1</label>
        @Html.EditorFor(model =>model.num1)
        @Html.EditorFor(model => model.num2)
        <input type='submit' value='Add' />
    </form>    
}
</div>
<div>@Convert.ToString(ViewBag.add)</div>
