﻿@model IntroMvcProject.Models.Model
@{
    ViewBag.Title = "Concat";
}

<h2>Concatenate Strings</h2>
<div>
@using (Html.BeginForm())
{
    <form action=''>
        <label>Text 1</label>
        @Html.EditorFor(model =>model.text1)
        <label>Text 2</label>
        @Html.EditorFor(model => model.text2)
        <input type='submit' value='Concatenate' />
    </form>    
}
</div>
<div>@ViewBag.concat</div>
