﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        a {padding-right:3%}
    </style>
</head>
<body>
<div style='margin:0 auto; width:900px'>
<nav >
@Html.ActionLink("Home","Index","Home")
@Html.ActionLink("Add","add","Home")
@Html.ActionLink("Concatenate","concat","Home")
@Html.ActionLink("About","about","Home")
</nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
